*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html,body{
        height: 100%;
        width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    background-color: black;
    /* background-image: url(download\ \(2\).jpeg); */
    background-position: center;
    background-size: cover;
}
   


.nav{
    height: 10%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: transparent; */
}

.nav a {
    color: rgb(244, 239, 239);
    text-decoration: none;
    font-size:3vh;
}


.frame{
    height: 90%;
    width: 100%;
    display: flex;
}
   
   
.frame_right{
    width: 65%;
    /* background-color: brown; */
}

.frame h1{
    margin-top: 12vw;
    color: white;
    font-size: 7vw;  
}

.frame_left{
    width: 35%;
    /* background-color: rgb(217, 217, 25); */
}


.one button{
    height: 8vh;
    width: 17vw;
    color: white;
    border: black;
    background-color: transparent;
    border-radius: 30px;
    margin-bottom: 5vh;
    margin-top: 14vw;
    font-size: 1.5vw;
}
.one button:hover{
    background-color: white;
    color: black;
}


.two button{
    height: 8vh;
    width: 17vw;
    color: white;
    border: black;
    background-color: transparent;
    border-radius: 30px;
    margin-bottom: 3vh;
    /* margin-top: 14vw; */
    font-size: 1.5vw;
}

.two button:hover{
    background-color: white;
    color: black;
}
